[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
dataclass-csv = "*"
adafruit-circuitpython-tca9548a = "*"
adafruit-circuitpython-sht31d = "*"

[dev-packages]

[requires]
python_version = "3.10"
